#menu
{
	
	width: 100%;
	height: 70px;
	background: darkslategray; 
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#menu li {
	display: inline;
	list-style: none;
	margin: 0 10px;
  }